/**
 * Form login section
 */
.form-login {
  background-color: $blue-bright;
  height: 100%;
  padding-top: 5%;
}

.form-login .form-title {
  text-align: center;
  font-family: $font-family;
  font-weight: 700;
  font-size: 3em;
  color: white;
  margin: 2rem;
}

.form-login form {
  margin: 0 auto;
  width: 40%;
}

.form-login label {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.form-login input[type='text'], .form-login input[type='password'] {
  font-family: $font-family;
  display: block;
  width: 100%;
  border: 1px solid #47D431; // #47D431 // #5FA1E0
  font-size: 2em;
  padding: .25em .5em;
  margin-bottom: 1em;
}

.form-login input[type='submit'] {
  font-family: $font-family;
  display: block;
  width: 100%;
  font-size: 2em;
  font-weight: 700;
  background-color: #128500; // #128500 // #00305E
  border: 1px solid #128500; // #128500 // #00305E
  color: white;
  padding: 0.5em 1em;
}

.form-login input[type='submit']:hover {
  cursor: pointer;
}

.form-login .link-register {
  display: block;
  float: right;
  color: white;
  margin-top: 1.5em;
}

.form-login .link-register a {
  text-decoration: underline;
  color: #128500; // #128500 // #00305E
}