/*
Name: colors
Function: store all color variables 
 */

$bg-color: #ffffff; 
$text-color: #272727;
$link-color: #46d3ff;
$border-color: #d2d2d2; // #d2d2d2
$nav-hover-bg-color: #15760B; // #1BA904 // #005696
$nav-hover-text-color: #ffffff;
$content-bg-color: #1BA904; // #47D431 // #0072C6

$blue-bright: #1BA904; // #47D431 // #0072C6
$blue-doom: #005696; // #005696
$blue-link: #46d3ff;
$blue-dark: #002745;
$green: #1CE934;
$gray: #E7E7E7;
$gray-light: #d2d2d2;
$gray-super-light: #F5F5F5;
$black-calm: #272727;
$white: #ffffff;
$white-calm: #fafafa;
$orange: #FFA21D; 